

h1,h2,h3,h4 {
        text-align: center;
}

@font-face {
     font-family: 'Pterra';
     src: url('../fonts/Pterra.ttf');
}

.oculto {
        display: none;
}

#sectionContosDiversos{
  background-color: #c7cbdb;
}
#sectionContosShadowhunter{

}

.frasefinal { 
        display: block;
        font-style:italic;
        font-size: 40px;
        margin: 0 auto;
        text-shadow: 0.1em 0.1em 0.1em lightgray;
        width: 50%;
}
.marcador{
  border: 1px solid red;
}

.frasecentro{
    width:50%;
   margin: 0 auto;
}

#nomeautor p{
        font-size: 15px;
        color: gray;
        text-align: right;
}

header {
  background-image: url("../imagens/pontebg2.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 60%; 
}

body {
        font-family: 'Pterra';
        color: black;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position:;
}

#menu a{
  font-size: 1.5em;
  width: 150px;
}

#txtcorpo{ 
        margin: 0 10%; 
        max-width: 100%;			
}
#txtcorpo p{
        font-size: 17px;
}

#quemsomos dt{
  font-size: 25px;
}

#fotosquemsomos th{
      font-size: 15px;
	    text-align: center;
}

.imagem{
    display: block;
    position: relative;
    max-width: 70%;
    max-height: 400px;
    margin: 0 auto;
}
.imagemminiatura{
    display: block;
    position: relative;
    max-width: 30%;
    max-height: 250px;
    margin: 0 auto;
}

@media screen and (max-width: 540px){/*======== MOBILE ====================== */
  body{
    width: 100%;   
    background-size: cover 100%;
  }

  header{
    background-image:none;
  }

  #NomeCabecalho{
    font-size: 2.6em;
  }

 #txtcorpo{ 
        margin: 0 5%; 
  }
  #txtcorpo p{
        font-size: 1.3em;
  }

}
